body{
    margin: 0;
    font-family: sans-serif;
}

.content{
    width: fit-content;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

table tr, th, td{
    padding: 5px;
    border: 1px solid black;
}